doctype html
html(lang=theme.lang)
    head
        meta(charset="UTF-8")
        title= page.title + ' | ' + config.title

        link(rel="alternate" href=url_for(config.feed.path) title=config.title type="application/atom+xml")
        link(rel="icon" type="image/png" href="/favicon.png")
        !=css('assets/css/style.css')
    body

        #wrapper
            !=partial('partial/header')
            #content!=body
            !=partial('partial/footer')