header
    .container
        nav
            a(href="/", class=is_home()?'active':'').logo Dev<span>Hook</span>
                //- =fragment_cache('header', function(){return site.posts.data.map(function(item){return item._content}).join('\n').split(/[^\w\d]+/i).length})
            each link,title in theme.menu
                - isActive = link && is_current(link)
                a(href=url_for(link), class=isActive?'active':'')=title
            each p in site.pages.filter(function(item){return item.menu == 'main'}).data
                - isActive = page.source == p.source
                a(href=url_for(p.permalink), class=isActive?'active':'')= p.title

        !=search_form({text: 'Поиск', button: false})